.THIS .layoutcolor{
     background-color:#b1d5f2;
 }
 
 .THIS .textfont{
     font-size: medium;
 }

 .THIS .recordfont{
    background-color:#b1d5f2;
 }

 .THIS .recordview{
    background-color:#b1d5f2;
 }

 .THIS .slds-text-title--caps{
   text-color: red;
 }
 .THIS .boldstyle{
 
 }